@import url('https://fonts.googleapis.com/css2?family=Alata&family=Paytone+One&display=swap');

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: futura;
    margin: 0;
    background-color: #d1d1d1;
  }
  
  .header {
    padding: 60px;
    text-align: center;
    color: white;
    height: 900px;
  }

  .footer{
    background-color: white;
    color: rgb(103, 103, 103);
    margin-top: 20px;
  }

  h1{
    font-family: 'Paytone One', sans-serif;
    font-weight: bold;
    letter-spacing: 15px;
    font-size: 10vw;
    margin-bottom: -20px;
    color: white;
    text-align: center;
  }

  #projects{
    font-size: 5vw;
  }
  p{
    font-family: 'Alata', sans-serif;
    text-align: center;
    font-weight: light;
    letter-spacing: 1px;
    font-size: 2vw;
    margin-top: 0px;
    font-weight: bold;
    padding: 10px;
    margin: auto;
    width: 70%;
  }
  a{
    color:rgb(186, 186, 186);
    text-decoration: none;
    font-style: italic;
    letter-spacing: -2px;
    margin: auto;
}
a:hover{
    transform: scale(1.05);
    color:rgb(255, 255, 255);
    font-size: 2.2vw;
    font-weight: bolder;
    font-style: normal;
}

h1:hover{
    text-shadow: 7px 7px 0px #b7b7b7;
    transition: 0.5s;
  }
  .row {  
    display: flex;
    flex-wrap: wrap;
  }
  
  .side {
    flex: 30%;
    padding: 20px;
  }
  
  .main {
    flex: 70%;
    padding: 20px;
  }
  
  .img{
    background-color: rgb(255, 255, 255);
    width:700px;
    height: 400px;
    margin: auto;
    padding: 20px;
    margin-top: 10px;
    animation: "slideUp" 1.5s;
    position: relative;
    text-align: center;
    border: none;
  }

  .images{
    margin: auto;
    text-align: center;
    margin-top: 40px;
  }
  .images1{
    margin: auto;
    text-align: center;
    margin-top: 40px;
    width: 100%;
  }
  .images1:hover{
    background-color: #bfbfbf;
    transition: 0.5s;
    padding: 0%;

  }

  .slideUp {
    animation-name: slideUp;
    animation-duration: 3s;
    visibility: visible;
  }
  
  @keyframes slideUp {
    0% {
      opacity: 0;
      tranform: scale(0.7);
    }
  
    100% {
      opacity: 1;
      tranform: scale(1);
    }
  }

.img:hover{
  transform: scale(1.03);
  transition: 0.1s;
  border-radius: 30px;
  }
  
  .footer {
    padding: 20px;
    text-align: center;
  }

  #arrow{
    animation: blink 0.3s infinite;
    padding: 10px;
    font-size: 80px;
    margin: auto;
    margin-top: 40px;

}
@keyframes blink {
    0%{ opacity: 0;
        color:rgb(158, 158, 158);
    }
    100%{ opacity: 1;
        color:rgb(255, 255, 255);
    }
}
  
h2{
    font-family: 'Alata', sans-serif;
    text-align: center;
    font-weight: light;
    letter-spacing: 2px;
    font-size: 2vw;
    line-height: 30px;
    margin: auto;
    color: white;
    padding: 10px;
    position: relative;
}
h3{
    font-family: 'Alata', sans-serif;
    text-align: center;
    font-weight: light;
    letter-spacing: 5px;
    font-size: 15px;
    line-height: 30px;
    margin: auto;
    color: white;
    padding: 10px;
}

h4{
    font-family: 'Alata', sans-serif;
    text-align: center;
    font-weight: light;
    letter-spacing: 2px;
    font-size: 2vw;
    margin: auto;
    color: white;
    padding: 10px;
    position: relative;
}

.main{
    width:auto;
    margin: auto;
}

  @media screen and (max-width: 700px) {
    h1{
        font-size: 12vw;
        letter-spacing: 5px;
        margin-bottom: 0px;
    }
    p{
        font-size: 5vw;
        width: 90%;
    }
    a:hover{
        font-size: 5vw;}
    body{
        background-color: black;
    }
    h4{
      font-size: 10vw;
      width: 300px;
    }
    .img{
      width:500px;
    height: 300px;
    }
  }
  #img1{
    background-image: url("/Users/blezzeu/Desktop/myportfolio/final images/chavacano4.png")
    
    }

#banner{
      color: black;
      background:yellow; 
      padding:10px; 
      text-align: center;

    }
#banner:hover{
      background: rgb(255, 255, 207); 
    }
.footera{
  color: black;
  letter-spacing: 5px;
  text-align: center;
}
.footera:hover{
  transform: scale(1.03);
  color: black;
  font-size: 1vw;
}
